{% extends '../layout.html' %}
{% load bootstrap5 i18n %}
{% block content %}

<h1 class="my-4">{% translate 'Labels' %}</h1>
<a class="nav-link" href="/labels/create/">{% translate 'Create label' %}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate 'Label Name' %}</th>
      <th>{% translate 'Created at' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for label in label_list %}
    <tr>
      <td>{{ label.id }}</td>
      <td>{{ label.name }}</td>
      <td>{{ label.created_at }}</td>
      <td>
        <a href="{% url 'label_update' pk=label.id %}">{% translate 'Edit' %}</a>
        <br>
        <a href="{% url 'label_delete' pk=label.id %}">{% translate 'Delete' %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
